* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.con1 {
  background-color: #131213;
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 40%;
  height: 100vh;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #f3aa4e;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.input {
  background-color: #f1f5f9;
  border: none;
  outline: none;
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  color: #64748b;
  max-width: 325px;

  margin-bottom: 10px;
}

.label {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0px;
}
.button {
  background-color: #f3aa4e;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #f1f5f9;
  font-size: 14px;
  border-radius: 4px;
  align-self: center;
}

.tabs {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.con-2 {
  background-color: #000000;
  padding: 15px;
}
.heading2 {
  color: #f1f5f9;
  font-size: 24px;
}
.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inner {
  display: flex;
  flex-direction: column;
}
.tasks {
  color: #f8fafc;
  font-size: 24px;
  font-weight: 500;  
}
